*{
    margin: 0;
    padding: 0;
   background-color: #f5f8ff;
    box-sizing: border-box;

}
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1440px;
    height: 698px;
    margin: auto;
}

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share style Primary Coller */

.dark-3{
    color: #000000;
}

.secondery-bg{
   background-color: rgba(78, 71, 255, 0.1);
    width: 1140px;
    height: 306px;
    align-items: center;
    gap: 10px;
    padding: 80px 50px;
    opacity: 100%;
    border-radius: 24px;


}

.text-color{
    color: #4E47FF;


}
.btn-primary{
   background-color: #4E47FF;
   font-weight: bold;
   color:#FFFFFF ;
   padding:12px 36px ;
   border-radius: 5px;

}
.regular{
    font-size: 20px;
   color: rgba(0, 0, 0, 0.5) ; 

}
.regular-2{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5) ;
}

/* Nave styls */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: 700;
    font-size: 34px;
}
nav ul li{
    list-style: none;
}



/* banner styls */
.banner{
    
    display: flex;
    justify-content: center;
    margin: 309px 267px 300px 267px;
   
}
.banner-content{
   text-align: center;
    
}
.banner-title{
    font-weight: bold;
    font-size: 64px;
}
/* common style */
.stars{
    font-size: 30px;
    color:#FFB805 ;
}
.text-center{
    text-align: center;
    
}


.section-title{
    
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.section-discription{
    font-size: 24px;
    color: #252432;
}
.user-title{

}


/* SECTION  */
.action{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 328px;
    margin: 0  35px 0 200px;
    padding: 141  814;
    
}
.action-images{
    width: 403px;
    opacity: 100%;
   column-rule: 48;
   border-radius:48px;

}
.section-elemeant{
    display: flex;
    justify-content: space-between;
    height: 97px;
    margin-top: 50px;
   
}
.elemeant{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.title{
    
    font-size: 42px;
    font-weight: bold;
    color: #252432;

}
.productive-user{
    margin: 116px 159px 137px 141px;
}
/* section */
.users-card{
     display: flex;
     justify-content: center;
     gap: 20px;
    border-radius: 14px;
    margin-top: ;

   

}
.users-say{
    
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px ;
    text-align: center;
    gap: 50px;

}
.card-title{
    display: flex;
}
.card{
   
    background-color: #FFFFFF;
    gap: 20px;
    
}

/* section-colum-styl */
.total-section{
    display: flex;
    width: 1440px;
    gap: 10px;
    padding: 40px;
    justify-content: center;
}
.section-colum{
   
}

.section-colum-title{
     color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 64px;
    
    padding: 130px 230px;
}
section input[type="text"], section input[type="email"], section textarea{
    height: 70px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding:  32px 20px ;
    margin-bottom: 20px;
}
.btn{
     height: 70px;
     background-color: #4E47FF;
    border-radius: 10px;
   display: block;
   width: 100%;
   padding:  32px 20px ;
   
}